/* Removing browser border */
*{

	margin : 0;
}

body{
    /* VORGEGEBEN: Schriftart: Roboto; anders als so, habe ich es nicht hinbekommen. Es funktioniert aber so */
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    background-color:#FFFFFF; /* VORGEGEBEN: Farbe Hintergrund */

}

#actionbar{
    background-color: #314151; /* VORGEGEBEN: Farbe Action bar */
    color: white;
    padding: 20px;
    margin-bottom : 20px;
	font-size : 20px ;
	
}

.timer-button{
    background-color: #217446; /* VORGEGEBEN: Farbe Timer (Hintergrund) */
    color: white; /* Farbe Schrift */
    padding: 10px; /* dadurch mache ich den Abstand des Buttons größer - Abstand von den Buchstaben nach außen */
    border-radius: 10px;
    border:solid 0.5px #b8babc; /* weißer Rahmen um den Button - kann man auch wieder wegmachen */
    box-shadow: 1px 1px 1px 1px #666; /* Schatten um den Button - grau */
    cursor: pointer; /* hierdurch ändert sich der Cursor in einen Mauszeiger - ALLERDINGS VERWENDEN WIR JA EIN TOUCHPAD - ggf überflüssig??? */
    float:right; /* rechts-bündig */
    margin-right: 10px; /* Abstand zu dem rechten Element */
    margin-left: 10px;
}

/* dadurch ändert sich die Farbe des Buttons, wenn man mit dem Cursor drüber geht*/
a.timer-button:hover {
    background-color:#22b966; /* ggf noch verbessern bzgl der Helligkeit mit dem escalation-button  */
}

.escalation-button{
    background-color: #d24525; /* VORGEGEBEN: Farbe Eskalation (Hintergrund) */
    color: white;
    padding: 10px;
    float:right;
    border-radius: 10px;
    border:solid 0.5px #b8babc;
    box-shadow: 1px 1px 1px 1px #666;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

/* dadurch ändert sich die Farbe des Buttons, wenn man mit dem Cursor drüber geht*/
a.escalation-button:hover{
    background-color: rgb(255, 99, 71);  /* ggf noch verbessern bzgl der Helligkeit mit dem timer-button  */
}

#image img{
    width: 42px;
    float:right;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
    cursor: pointer;
}
.language{
	top : 0;
	right : 0;
	position :absolute;
}

/* Just the text react with mouse-click . Must fix later*/
#body{
    background-color : #314151;
    padding: 20px;
    width : 160px;
    border-radius: 10px;
    border:solid 0.5px #b8babc;
    box-shadow: 1px 1px 1px 1px #666;
    cursor: pointer;
    text-align: left;	
    position:absolute;
	
/* Centering the box*/  
    top:50%;
    left:50%;
    margin-left:-100px;	
	
} 
#body:hover{
    background-color :  #405569;
}
#image2 img{
    margin-left : 50px;
}
.cMonitoring-button{
   color : white;
   font-size : 16px;
}
/* Question :How to create 3 different buttons with same design =)) */ 
.Temperatur{
   background-color : #314151;
   padding: 20px;
   width : 160px;
   border-radius: 10px;
   border:solid 0.5px #b8babc;
   box-shadow: 1px 1px 1px 1px #666;
   cursor: pointer;
   text-align: center;	
   position:absolute;
   color : white;
   font-size : 16px;
   top : 50%;
   left :0;
}

#Temperatur img{
   margin-top : 10px;
}

.Akustik{
   background-color : #314151;
    padding: 20px;
    width : 160px;
    border-radius: 10px;
    border:solid 0.5px #b8babc;
    box-shadow: 1px 1px 1px 1px #666;
    cursor: pointer;
    text-align: center;	
    position:absolute;
    color : white;
    font-size : 16px;
    top:50%;
    left:50%;
    margin-left:-100px;
}

#Akkustik img{
    margin-top : 10px;
}

.Vibration{
    background-color : #314151;
    padding: 20px;
    width : 160px;
    border-radius: 10px;
    border:solid 0.5px #b8babc;
    box-shadow: 1px 1px 1px 1px #666;
    cursor: pointer;
    text-align: center;	
    position:absolute;
    color : white;
    font-size : 16px;
    top:50%;
    right:0;
}

#Vibration img{
    margin-top : 10px;
}

.Historie{
    background-color : #314151;
    padding: 20px;
    width : 200px;
    border-radius: 10px;
    border:solid 0.5px #b8babc;
    box-shadow: 1px 1px 1px 1px #666;
    cursor: pointer;
    text-align: center;	
    color : white;
    position:absolute;
    font-size : 16px;
    top:50%;
    right:0;
}
.Historie:hover {
    background-color :  #405569;
}

/* Drop down menu ´s design */ 
.dropDown {
    background-color: #04AA6D;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 10px;
    border:solid 0.5px #b8babc;
    box-shadow: 1px 1px 1px 1px #666;
    width: 160px;
    
  }

 /* Set the position of the menu */  
  .menu {
    position: relative;
    display: inline-block;
    left:50%;
    right:50%;
  }
  
  .Content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .Content a:hover {background-color: #ddd;}
  
  .menu:hover .Content {display: block;}
  
  .menu:hover .dropDown {background-color: #3e8e41;}

  /* Design chart */
  .chart-container {
    
    left:8%;
    

  }

 
